body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container{
    margin-left: 50px;
}

nav .nav-logo-container a img{
    height: 100px;
    width: 100px;
}

nav .nav-logo-cotainer img {
    width: 220px;
    margin-top: 10px;
}

nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
}

/*Main*/

.blog-main{
    display: grid;
}

.blog-new-container{
    background-color: rgb(191, 196, 199) ;
    padding: 0 50px 49px;
}

.blog-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.blog-new-img-container{
    grid-column: 1;
}

.blog-new-img-container img{
    height: 350px;
    width: 350px;
}

.blog-new-info-container{
    grid-column: 2;
}

.blog-new-info-container p{
    margin-bottom: 35px;
}

